*
  box-sizing: border-box
h1, h2, h3, h4, h5, h6
  margin: 0
p
  margin: 0
@font-face
  font-family: "Arial", sans-serif
  src: url("../font/Arial.woff") format("woff")
  src: url("../font/Arial.woff2") format("woff2")

.container
  max-width: 1088px
  margin: auto
.button
  cursor: pointer
  font-style: normal
  font-weight: normal
  border: 1px solid #212B31
  border-radius: 4px
  background: #fff
  color: #212B31
  &:hover
    background: #212B31
    color: #fff
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16)
