.header
  display: flex
  position: fixed
  top: 0
  left: 0
  right: 0
  justify-content: space-between
  width: 100%
  margin: auto
  padding: 20px 5% 20px 5%
  background-color: #fff
  z-index: 50
  &__logo
    margin-right: 7px
  &__link
    display: flex
    align-items: center
    text-decoration: none
  &__name
    font-family: 'Inter', sans-serif
    font-style: normal
    font-weight: normal
    font-size: 22px
    line-height: 27px
    text-transform: uppercase
    color: #212B31
    margin: 0
  &__menu
    display: flex
  &__list
    display: flex
    align-items: center
    margin: 0
    padding: 0
    list-style-type: none
    &-link
      font-family: 'Inter', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 19px
      color: #72787D
      text-decoration: none
      margin: 0 11px
      transition: linear .3s
      &:hover
        color: #036FC7
  &__button
    font-family: "Arial", sans-serif
    font-size: 15px
    line-height: 16px
    height: 34px
    width: 143px
    margin-top: 4px

.burger
  display: none
  width: 30px
  height: 30px
  cursor: pointer
  outline: none
  border: none
  background: url(../img/header/menu.svg) no-repeat center
  background-size: contain
  transition: 0.3s all linear
  &__active
    background: url(../img/header/close.svg) no-repeat center
    background-size: contain
