.main
  padding-top: 74px
  margin-top: 120px
  margin-bottom: 150px
  &__description
    max-width: 818px
    margin: auto
  &__text
    font-family: $mainFont
    font-style: normal
    font-weight: normal
    font-size: 48px
    line-height: 64px
    text-align: center
    color: $darkColor
    margin-bottom: 31px
  &__buttons
    display: flex
    justify-content: center
    margin-bottom: 88px
  &__button
    &-demo, &-more
      font-family: $mainFont
      font-size: 18px
      line-height: 24px
      text-align: center
      min-width: 157px
      height: 50px
      margin: 0 8px 0 8px
      &:focus
        outline: 2px solid blue
  &__images
    display: flex
    justify-content: center
    flex-direction: column
  &__image
    &-city
      margin: auto
      margin-bottom: 36px
    &-cars
      display: block
      max-width: 100%
      margin: auto
